.company_container {
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.company_container h1 {
    margin: 0.5em 0;
    font-size: 16px;
}

.company_container h2 {
    margin-bottom: 25px;
    color: rgba(73, 73, 73, 0.827);
}

.company_container p {
    color: #7b7b7b;
}

.company_contacts {
    display: flex;
    align-items: center;
}

.company_contacts p {
    margin-left: 15px;
}

.company_contacts p a {
    color: #3748ab;
}

.company_form {
    width: 450px;
    display: flex;
    margin: 0 auto 30px;
    flex-direction: column;
}

.company_input {
    padding: 12px;
    margin-bottom: 15px;
    border: 0;
}

.company_textarea {
    height: 120px;
    margin-bottom: 15px;
    border: 0;
    padding: 15px;
    resize: none;
}

.company_submit {
    background-color: black;
    border: 0;
    padding: 12px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
}

.company_submit:hover {
    background-color: #ffbb33;
}

.company_galeria {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}

.company_galeria_desc {
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.company_slider {
    width: 100%;
    height: 350px;
    margin-top: 60px;
}

.slide_item {
    height: 100%;
}

.swiper-pagination {
    margin-top: 60px !important;
}